
<h3 class="text-center">CLIENT LIST</h3>
  <div class= "container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Client ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sam</td>
      <td>Kotobabi</td>
      <td>sam@gl.uk</td>
       <td><a href ="#">view details</a></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Joab</td>
      <td>TWashinton</td>
      <td>p@gm.com</td>
       <td><a href ="#">view details</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Laura</td>
      <td>Achimota</td>
      <td>dd@mail.com</td>
       <td><a href ="#">view details</a></td>
    </tr>
    
    <tr>
      <th scope="row">4</th>
      <td>Sam</td>
      <td>Kotobabi</td>
      <td>sam@gl.uk</td>
       <td><a href ="#">view details</a></td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Joab</td>
      <td>TWashinton</td>
      <td>p@gm.com</td>
       <td><a href ="#">view details</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Laura</td>
      <td>Achimota</td>
      <td>dd@mail.com</td>
       <td><a href ="#">view details</a></td>
    </tr>
    
    <tr>
      <th scope="row">7</th>
      <td>Sam</td>
      <td>Kotobabi</td>
      <td>sam@gl.uk</td>
       <td><a href ="#">view details</a></td> 
    </tr>

    
  </tbody>
</table>
</div>

