
<h3 class="text-center">CLIENT LIST</h3>
  <div class= "container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  
    
    <tr *ngFor="let client of client">
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.address}}</td>                     
                        
    
  </tbody>
</table>
</div>

