
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">tcmsApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="client.html">Client</a></li>
      <li><a href="project.html">Project</a></li>
      <li><a href="about.html">About Us</a></li>
    </ul>
  </div>
</nav>
<div class="bg-image"></div>

<div class="bg-text">
  <h1>TURNTABL MANAGEMENT APP(TMMs)</h1>
  <p>the leading client management system</p>
</div>

<div class="container">
  <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button>
  <button type="button" class="btn btn-success">Success <span class="badge">3</span></button>    
  <button type="button" class="btn btn-danger">Danger <span class="badge">5</span></button>        
</div>

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<div class="container">
  <div class="navbar-text pull-left">
    <p>© 2019 Copyright: Luther Phoenix</p>
  </div>
</div>
</div>


