<h3 class="text-center">PROJECT LIST</h3>
  <div class= "container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Project Name</th>
      <th scope="col">Project Description</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>TCMs with JDBC</td>
      <td>Novice</td>
      
    </tr>
    
    <tr>
      <th scope="row">2</th>
      <td>TCMs with JDBC/Spring</td>
      <td>Intermediate</td>
      
      
    </tr>
    
    <tr>
      <th scope="row">3</th>
      <td>TCMs with UI</td>
      <td>Advanced</td>
      
    </tr>
    
     <tr>
      <th scope="row">4</th>
      <td>TCMs with JDBC</td>
      <td>Novice</td>
       
    </tr>
    
    <tr>
      <th scope="row">5</th>
      <td>TCMs with JDBC/Spring</td>
      <td>Intermediate</td>
      
       
    </tr>
    
    <tr>
      <th scope="row">6</th>
      <td>TCMs with UI</td>
      <td>Advanced</td>
    
    </tr>
    
     <tr>
      <th scope="row">7</th>
      <td>TCMs with JDBC</td>
      <td>Novice</td>
      
    </tr>
    
    <tr>
      <th scope="row">8</th>
      <td>TCMs with JDBC/Spring</td>
      <td>Intermediate</td>
      
      
    </tr>
    
    <tr>
      <th scope="row">9</th>
      <td>TCMs with UI</td>
      <td>Advanced</td>
      
    </tr>
  </tbody>
</table>
</div>

